@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
}

/* heading → font-size:38px; / color: #0F172A
sub-heading → font-size:28px; / color: #334155
para/desc → font-size: 18px / color: #334155

primary color - #155dfc
secondary color - #7C3AED
cta color: #f59e0b

@media (max-width: 868px) {
  heading → font-size:32px;
sub-heading → font-size:24px;
para/desc → font-size: 16px
  } */

/* Deep Navy Blue - #01092d
Dark Azure - #032c7b
Bright Royal Blue - #0464de
Branding orange - #E85002
Frost - #aee37b */
